Source: grml-terminalserver
Section: net
Priority: optional
Maintainer: Grml Team <team@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper-compat (= 12),
Standards-Version: 4.7.0
Homepage: https://grml.org/terminalserver/
Vcs-Git: https://github.com/grml/grml-terminalserver.git
Vcs-Browser: https://github.com/grml/grml-terminalserver
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-terminalserver
Architecture: all
Depends: atftpd,
         dialog,
         grml2usb,
         grub-efi-amd64-signed | grub-efi-amd64-bin | pxelinux,
         ipcalc,
         iptables,
         isc-dhcp-server,
         nfs-kernel-server,
         pxelinux,
         shim-signed:amd64 | pxelinux,
         ${misc:Depends},
Description: terminalserver for grml to boot via PXE
 These packages provides all what's needed to boot
 grml over the network (PXE). An easy to use interface
 does all the setup steps to get the server side up
 and running.
