Source: grml-terminalserver
Section: net
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 4.0.0), dietlibc-dev
Standards-Version: 3.7.2

Package: grml-terminalserver
Architecture: any
Depends: grml-shlib (>=1.02.03), grml-terminalserver-data (>=0.62), dialog, dhcp3-server, tftpd-hpa, syslinux, gcc-3.3, ipcalc, ash
Description: terminalserver for grml
 This software should netboot grml on other computers over the
 network. The terminalserver also works with NON-PXE
 cards (compiles grub during configuration and makes a
 boot-disk).
