Source: grml-terminalserver
Section: net
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: grml-terminalserver
Architecture: all
Depends: sh-lib (>=1.02.03), grml-terminalserver-data (>=0.62), dialog, dhcp3-server, tftpd-hpa, syslinux, libuclibc0, discover-data, gcc-3.3, ipcalc
Description: terminalserver for grml
 This software should netboot grml on other computers over the
 network. Also this terminalserver should work with NON-PXE
 cards (compiles grub during configuration and makes a
 boot-disk).
